blockquote.legal-pad {
	font-family: "Bilbo", "Savoye Let", "Zapfino", auto;
	font-size: 1.25rem;
	line-height: 1.5em;
	position: relative;
	border: 0;
	background-color: #fffee3;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	padding-top: 3.85em;
	padding-left: 4em;
	max-width: 80ch;
	margin: 1em auto;
}

blockquote.legal-pad::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2.5em;
	border-left: double 0.2em #fcc;
}

blockquote.legal-pad::before {
	content: "";
	position: absolute;
	top: 3.5em;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(rgba(153,204,255,.3) .1em, transparent .1em);
	background-size: 100% 1.5em;
}
